<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Transistor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <Transistor.Properties.Settings>
            <setting name="KeithleyID" serializeAs="String">
                <value>4081320</value>
            </setting>
            <setting name="Drain_Start_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drain_Step_O" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Drain_End_O" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Drain_Range_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drain_Sweep_O" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Delay_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gate_Start_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gate_Step_O" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Gate_End_O" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Gate_Range_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gate_Sweep_O" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>FET</value>
            </setting>
            <setting name="Autosave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Drain_Start_T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drain_Step_T" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Drain_End_T" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Drain_Range_T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drain_Sweep_T" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Delay_T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gate_Start_T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gate_Step_T" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Gate_End_T" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Gate_Range_T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gate_Sweep_T" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Time_Drain_Voltage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Time_Drain_Range" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Time_Gate_Voltage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Time_Gate_Range" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Time_Interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Time_Duration" serializeAs="String">
                <value>30</value>
            </setting>
        </Transistor.Properties.Settings>
    </userSettings>
</configuration>